# rust build
target/

# IDE stuff
.idea

# vim backup
*.swo
*.swp
*.swn

# gcc compilation output files
*.out
*.bin
*.map
*.o
*.d

# stm32 compilation
*.list
o/

# quartus
simulation/
output_files/
incremental_db/
db/
